    body {
        /* Body of the program */
        width: auto;
        height: auto;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }
    
    #background {
        /*Background layer*/
        background-color: rgba(0, 0, 0, 0.5);
        position: absolute;
        top: 30px;
        left: 0;
        width: 446px;
        height: 96px;
        z-index: -1;
    }
    
    .navbar {
        /*Menu bar*/
        height: 30px;
        display: grid;
        grid-template-columns: 40% auto auto 30px 30px;
        background-color: #929292;
        -webkit-app-region: drag/*Make it draggable*/
    }
    
    #searchBar {
        /* Search bar */
        -webkit-app-region: no-drag/*Make it not draggable*/
    }
    
    .frameButton {
        /* Class of the close and minimize buttons */
        position: absolute;
        height: 30px;
        width: 30px;
        user-select: none;
        -moz-user-select: none;
        -webkit-user-drag: none;
        -webkit-user-select: none;
        -ms-user-select: none;
        -webkit-app-region: no-drag;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        font-family: "Open Sans", sans-serif;
    }
    
    #minimizeButton {
        right: 30px;
    }
    
    #minimizeButton:hover {
        background-color: #a9a8a8;
    }
    
    #closeButton {
        right: 0;
    }
    
    #closeButton:hover {
        background-color: red;
    }
    
    #itemsButton {
        width: auto;
        margin: 0;
        padding: 0 1%;
        left: 178px;
        background-color: blue;
    }
    
    #itemsButton:hover {
        cursor: pointer;
    }
    
    #trinketsButton {
        width: auto;
        margin: 0;
        padding: 0 1%;
        left: 227px;
        background-color: green;
    }
    
    #trinketsButton:hover {
        cursor: pointer;
    }
    
    .arrowButton {
        /* Class of arrow buttons */
        height: 94px;
        width: 30px;
        top: 30px;
        position: absolute;
        bottom: 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .arrowButton:hover {
        cursor: pointer;
    }
    
    #rightDiv {
        right: 0;
    }
    
    #leftDiv {
        left: 0;
    }
    
    #leftButton {
        height: 25px;
        width: 30px;
        transform: rotate(90deg);
        user-select: none;
        -moz-user-select: none;
        -webkit-user-drag: none;
        -webkit-user-select: none;
        -ms-user-select: none;
    }
    
    #rightButton {
        height: 25px;
        width: 30px;
        transform: rotate(-90deg);
        user-select: none;
        -moz-user-select: none;
        -webkit-user-drag: none;
        -webkit-user-select: none;
        -ms-user-select: none;
    }
    
    #content {
        /*Div with the content of the program*/
        overflow-x: hidden;
        position: relative;
        left: 30px;
        width: 384px;
    }
    
    .items {
        /*Div that has all the items*/
        box-sizing: border-box;
        white-space: nowrap;
        float: left;
    }
    
    .content:hover .Image {
        filter: blur(5px);
    }
    
    .content .Image:hover {
        filter: blur(0);
    }
    
    .Image:focus {
        background-color: rgba(117, 91, 91, 0.8);
    }
    
    .trinkets {
        /*Div that has all the items*/
        white-space: nowrap;
    }
    
    .Div {
        /*Div that has individual items*/
        display: inline-block;
        user-select: none;
        margin: 0;
        padding: 0;
        height: 96px;
        width: 96px;
        align-items: center;
        justify-content: center;
    }
    
    .Image {
        /*Image of the item*/
        user-select: none;
        -moz-user-select: none;
        -webkit-user-drag: none;
        -webkit-user-select: none;
        -ms-user-select: none;
        width: 96px;
        height: 96px;
    }
    
    .Image:hover {
        cursor: pointer;
    }
    
    .Info {
        text-align: center;
        font-family: "Open Sans", sans-serif;
        margin: 1%;
    }
    
    #descriptions {
        position: absolute;
        top: 130px;
        left: 3%;
        background-color: #555;
        color: #fff;
        margin: 0;
        padding: 5px 2%;
        border-radius: 6px;
        width: 90%;
        height: auto;
    }
    
    #Name {
        font-size: 21px;
    }
    
    #Subname {
        font-size: 14px;
        font-weight: 100;
    }
    
    #Description {
        font-size: 14px;
        text-align: left;
    }