    body {
        /* Body of the program */
        width: 446px;
        height: 150px;
        display: grid;
        grid-template-rows: 31px auto;
        margin: 0;
        padding: 0;
    }
    
    #BG {
        background-color: rgba(0, 0, 0, 0.5);
        position: absolute;
        top: 31px;
        height: 96px;
        width: 446px;
        z-index: -1;
    }
    /*Menu bar*/
    
    .navbar {
        /*Menu bar*/
        height: 31px;
        width: 446px;
        overflow: hidden;
        display: grid;
        grid-template-columns: 50% auto;
        background-color: #929292;
        -webkit-app-region: drag/*Make it draggable*/
    }
    
    #searchBar {
        /* Search bar */
        -webkit-app-region: no-drag/*Make it not draggable*/
    }
    
    .frameButton {
        /* Class of the close and minimize buttons */
        position: absolute;
        height: 31px;
        width: 31px;
        user-select: none;
        -moz-user-select: none;
        -webkit-user-drag: none;
        -webkit-user-select: none;
        -ms-user-select: none;
        -webkit-app-region: no-drag;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    #minimizeButton {
        left: 384px;
    }
    
    #minimizeButton:hover {
        background-color: #a9a8a8;
    }
    
    #closeButton {
        left: 415px;
    }
    
    #closeButton:hover {
        background-color: red;
    }
    
    #content {
        /*Div with the content of the program*/
        overflow-x: hidden;
        overflow-y: visible;
        display: grid;
        position: relative;
        left: 31px;
        width: 384px;
        height: 130px;
    }
    
    .items {
        /*Div that has all the items*/
        box-sizing: border-box;
        white-space: nowrap;
    }
    
    .itemDiv {
        /*Div that has individual items*/
        display: inline-block;
        user-select: none;
        height: 96px;
        width: 96px;
        align-items: center;
        justify-content: center;
    }
    
    .itemImage {
        /*Image of the item*/
        user-select: none;
        -moz-user-select: none;
        -webkit-user-drag: none;
        -webkit-user-select: none;
        -ms-user-select: none;
        width: 96px;
        height: 96px;
    }
    
    .itemImage:hover {
        cursor: pointer;
    }
    
    .itemInfo {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .itemDiv .itemInfo {
        /*Tooltip that show item information*/
        position: absolute;
        visibility: hidden;
        background-color: #555;
        color: #fff;
        text-align: center;
        padding: 5px 0;
        border-radius: 6px;
        /*Fade in*/
        opacity: 0;
        transition: opacity 0.3s;
    }
    /* Tooltip arrow */
    
    .itemDiv .itemInfo::after {
        transform: rotate(180deg);
        content: "";
        position: absolute;
        top: -10px;
        left: 45px;
        margin-left: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: #555 transparent transparent transparent;
    }
    
    .itemDiv:hover .itemInfo {
        /*Complement of the tooltip*/
        visibility: visible;
        opacity: 1;
    }
    
    .arrowButton {
        /* Class of arrow buttons */
        height: 94px;
        width: 31px;
        top: 31px;
        position: absolute;
        bottom: 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .arrowButton:hover {
        cursor: pointer;
    }
    
    #rightDiv {
        left: 415px;
    }
    
    #leftDiv {
        left: 0;
    }
    
    #leftButton {
        height: 25px;
        width: 30px;
        transform: rotate(90deg);
        user-select: none;
        -moz-user-select: none;
        -webkit-user-drag: none;
        -webkit-user-select: none;
        -ms-user-select: none;
    }
    
    #rightButton {
        height: 25px;
        width: 30px;
        transform: rotate(-90deg);
        user-select: none;
        -moz-user-select: none;
        -webkit-user-drag: none;
        -webkit-user-select: none;
        -ms-user-select: none;
    }